.main{
   background-color: aqua;
   width: 100%;
   min-height: 200px;
}

.main div{
   min-height: 150px;
   background-color:blueviolet;
   margin: 10px;
   display: flex;
   justify-content:center;
   align-items: center;
   font-size: 3em;
   color:white;
   min-width: 130px;
}


 
/* @media only screen and (max-width: 600px) {
   body {
     background-color: lightblue;
   }
 } */



 @media only screen and (min-width: 600px) {
   .main{
     background-color: burlywood;
     display:flex;
     flex-wrap: wrap;
   }

   .main div{
      flex-grow: 1;
      background-color: green;
   }
 } 
 
@media only screen and (min-width: 1100px) {
   .main{
     background-color: burlywood;
     display:flex;
     background-color: blue;
   }

   .main div{
      flex-grow: 1;
   }
 }
 
