.container{
   width:80%;
   background-color:aquamarine;
   border:solid 5px blue;
   min-height: 500px;
   margin: auto;
   display: flex;
   flex-direction:row;
   /* flex-wrap: wrap; */
   justify-content: space-evenly;
   /* align-content: st; */
   /* align-items: stretch; */
}


.container div{
   height:100px;
   background-color:bisque;
   border: solid 2px red;
   /* width:100px; */
   font-size: 3em;
   text-align: center;
   flex-grow: 1;
}