* {
    box-sizing: border-box;
}

.main{
    min-height: 100vh;
    width: 80%;
    margin: auto;
    display: flex;
    border: solid 1px black;
}

.nav{
    width: 20%;
    background-color: aqua;
}

.container{
    width: 80%;
    height: 100vh;
    border-left: 1px solid black;
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table td{
    border-bottom: 1px solid black;
    padding: 10px;
}

thead th {
    text-align: left;
    border-bottom: 1px solid black;
}