.container{
   width:300px;
   height:200px;
   background-color: aquamarine;
   border:solid 10px black;
   /* margin-left: 200px;
   margin-top: 50px;
   margin-bottom: 100px;
   margin-right: 100px; */
   /* margin:auto; */
   /* padding-left: 100px;
   box-sizing: border-box; */
   /* position:absolute;
   bottom:0;
   right:100px; */
   position:relative;
}

.item {
   width:80px;
   height:50px;
   border: solid 1px yellow;
   background-color: red;
   /* margin: auto; */
   /* margin-left: 100px; */
   position: absolute;
   bottom: 0;
   right:0;
}