.container{
   width: 450px;
   min-height: 200px;
   background-color: #9cbc2c;
   margin: auto;
   padding: 10px;
}

.container > div{
   background-color: #b9cf6a;
   margin: 5px auto;
   border: solid 3px white;
   min-height: 30px;
   border-radius: 10px;
   padding: 10px;
}

.under-type{
   display: flex;
}

.container label {
   font-weight: bold;
}

.container .type{
   margin-top: 10px;
   /* border: solid 1px black; */
   display: flex;
   line-height: 20px;
}

.container .type div{
   display: flex;
   margin-left: 10px;
}

.container .title{
   margin-left: 5px;
   font-size: 1.1em;
}

.container img{
   width: 25px;
  
}