div{
   width: 50%;
   min-height: 100px;
   background-color: antiquewhite;
   border: solid;
   margin: 10px auto;
   padding: 10px;
}

div p{
   min-height: 20px;
   background-color: aqua;
   margin: 10px;
}

div h2{
   background-color: blueviolet;
   min-height: 20px;
}

.title{
   font-weight: bold;
   font-size: 1.5em;
   padding: 10px;
   background-color: coral;
}


#title{
   background-color: yellow;
}

.p5{
   height: 80px;
}