div{
   background-color:#4573c4;
   color:#fff;
   margin:4px;
   /* border:solid 2px #fff; */
   text-align:center;
   vertical-align:center;
   /* box-sizing: border-box;
   padding-top:50%; */
}

div p{
   display: block;
}

.main{
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   min-height: 400px;
   background-color: white;
   /* margin-top: 200px; */
}

.content{
   flex-grow: 8;
   background-color:white;
   display: block;
}

.before-desc{
   min-height: 400px;
   display: flex;
   background-color:white;
   margin-top:0;
   margin-left: 0;
   margin-right: 0;
}

.test-1{
   width: 200px;
   min-height: 50px;
   color:black;
}

.box-with-title{
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   margin-top:0;
   background-color: white;
   margin-right: 0;
}

.text-aling-center{
   display: flex;
   justify-content: center;
   align-items: center;
}